@page "/"
@inject Sotsera.Blazor.Toaster.IToaster Toaster
@inject ITest Test;
@using  ToasterTest.Shared;

<h1>Hello, Toaster Test</h1>

Welcome to your new app.

The Test Class is not displaying the Toaster messages.




@code{

    

    protected override async Task OnInitAsync()
    {
        Toaster.Warning("Before - This works"); 
        Test.Info(Toaster); // Passing the Toaster works, The dependecy injected version does not.
        // I also used an async Task and it also does not work.
        Toaster.Success("After - this Works");
    }


}
